/* variables */

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* box styling */

.d-flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.d-grid {
    display: grid;
}

/* widths */

.w-full {
    width: 100%;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

/* colors */

.bg-white {
    background-color: white;
}

.c-black {
    color: black;
}

/* padding & margin */

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

/* position */

.relative {
    position: relative;
}

/* texts */

.txt-c {
    text-align: center;
}

.cap {
    text-transform: capitalize;
}

.fs-14 {
    font-size: 14px;
}

/* borders */

.b-ccc {
    border: 1px solid #ccc;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}


/* overflow */

.hidden {
    overflow: hidden;
}

/* mobile */

@media (max-width: 767px) {
    .hide-mo {
        display: none;
    }
}

/* components */

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}