/* variables */

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* box styling */

.d-flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.space-bet {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.gap-20 {
    gap: 20px;
}

.flex-1 {
    flex: 1;
}

.f-wr {
    flex-wrap: wrap;
}

/* widths */

.w-full {
    width: 100%;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.w-fit {
    width: fit-content;
}

/* colors */

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-grey {
    color: var(--grey-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}


/* padding & margin */

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* position */

.relative {
    position: relative;
}

/* texts */

.txt-c {
    text-align: center;
}

.cap {
    text-transform: capitalize;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

.bold  {
    font-weight: bold;
}

/* borders */

.br-0 {
    border: none;
}

.b-ccc {
    border: 1px solid #ccc;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* overflow */

.hidden {
    overflow: hidden;
}

/* mobile */

@media (max-width: 767px) {
    .hide-mo {
        display: none;
    }
    .block-mobile {
        display: block;
    }
    .txt-c-mobile {
        text-align: center;
    }
}

/* components */

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-shape {
    padding: 5px 10px;
    border-radius: 6px;
}