:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: var(--main-transition);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

a {
    text-decoration: none;
}

.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}

/* ========== Sidebar ========== */

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .sidebar > h3::before,
    .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar > h3::before {
    width: 50%;
    height: 3px;
    bottom: -20px;
}

.sidebar > h3::after {
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -29px;
}
}

.sidebar ul li a {
    transition: var(--main-transition);
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

/* ========== Content ========== */

.head .search::before {
    position: absolute;
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    font-size: 14px;
    color: var(--grey-color);
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.head .search input[type="search"] {
    padding-left: 35px;
    width: 160px;
    transition: width var(--main-transition);
}

.head .search input[type="search"]:focus {
    width: 200px;
}

.head .search input[type="search"]:focus::placeholder {
    color: transparent;
}

.head .icons span::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    right: 0px;
    top: -7px;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: black;
    width: 40px;
    z-index: 2;
}

.page h1::after {
    background-color: white;
    width: 120px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
    .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px ;
    margin-right: 10px;
    margin-left: 10px;
}
}

/* ========== Welcome ========== */

.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body > div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* ========== Draft ========== */

.draft .inputs textarea {
    height: 180px;
    resize: none;
}

.draft .inputs input[type="text"]:focus,
.draft .inputs textarea:focus {
    caret-color: var(--blue-color);
    transition: var(--main-transition);
}

.draft .inputs input[type="text"]::placeholder,
.draft .inputs textarea::placeholder {
    transition: 0.6s;
}

.draft .inputs input[type="text"]:focus::placeholder,
.draft .inputs textarea:focus::placeholder {
    opacity: 0;
}

.draft input[type="submit"] {
    margin-left: auto;
    transition: var(--main-transition);
}

.draft input[type="submit"]:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .draft h2 {
        margin-bottom: 10px;
    }
    .draft p {
        margin-bottom: 20px;
    }
}

/* ========== Targets ========== */

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .blue .icon {
    background-color: rgb(0 117 255 / 20%);
}

.targets .orange .icon {
    background-color: rgb(245 158 11 / 20%);
}

.targets .green .icon {
    background-color: rgb(34 197 94 / 20%);
}

.targets .target-row .details .progress {
    height: 4px;
}

.targets .blue .details .progress {
    background-color: rgb(0 117 255 / 20%);
}

.targets .orange .details .progress {
    background-color: rgb(245 158 11 / 20%);
}

.targets .green .details .progress {
    background-color: rgb(34 197 94 / 20%);
}

.targets .target-row .details .progress span {
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
}

.targets .target-row .details .progress span::before {
    position: absolute;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 6px;
    top: -35px;
    right: -21px;
    color: white;
}

.targets .blue .details .progress span::before {
    content: "80%";
    background-color: var(--blue-color);
}

.targets .orange .details .progress span::before {
    content: "55%";
    background-color: var(--orange-color);
}

.targets .green .details .progress span::before {
    content: "75%";
    background-color: var(--green-color);
}

.targets .target-row .details .progress span::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -9px;
    border: 5px solid blue;
}

.targets .blue .details .progress span::after {
    border-color: var(--blue-color) transparent transparent ;
}

.targets .orange .details .progress span::after {
    border-color: var(--orange-color) transparent transparent ;
}

.targets .green .details .progress span::after {
    border-color: var(--green-color) transparent transparent ;
}